<form action="/users/signin" method="post">
  <div>
    <label for="user_id">Username:</label>
    <input name="user_id" type="text" value="">
  </div>
  <div>
    <label for="password">Password:</label>
    <input name="password" type="password" value="">
  </div>
  <button type="submit">Sign In</button>
</form>